<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      New Client
    </h2>
    <form (ngSubmit)="onSubmit(clientForm.value)" #clientForm="ngForm" class="form-horizontal">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="client.id" name="id"/>
      </div>
      <div class="form-group has-feedback" [class.has-success]="code.dirty && code.valid" [class.has-error]="code.dirty &&  !code.valid">
        <label for="code" class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="code" [(ngModel)]="client.code" minlength="2" required name="code" #code="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="code.valid" [class.glyphicon-remove]="!code.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="code.dirty && code.hasError('required')">Code is required</span>
          <span class="help-block" *ngIf="code.dirty && code.hasError('minlength')">Code must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="nom.dirty && nom.valid" [class.has-error]="nom.dirty && !nom.valid">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nom" [(ngModel)]="client.nom" name="nom" minlength="2" required #nom="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="nom.valid" [class.glyphicon-remove]="!nom.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="nom.dirty && nom.hasError('required')">Nom is required</span>
          <span class="help-block" *ngIf="nom.dirty && nom.hasError('minlength')">Nom must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="address.dirty && address.valid" [class.has-error]="address.dirty && !address.valid">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="address" [(ngModel)]="client.address" name="address" required #address="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="address.valid" [class.glyphicon-remove]="!address.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="address.dirty && address.hasError('required')">Address is required</span>
        </div>
      </div>
<!--      <div class="form-group has-feedback" [class.has-success]="city.dirty && city.valid" [class.has-error]="city.dirty && !city.valid">-->
<!--        <label for="city" class="col-sm-2 control-label">City</label>-->
<!--        <div class="col-sm-10">-->
<!--          <input type="text" class="form-control" id="city" [(ngModel)]="client.city" name="city" required #city="ngModel"/>-->
<!--          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="city.valid" [class.glyphicon-remove]="!city.valid" aria-hidden="true"></span>-->
<!--          <span class="help-block" *ngIf="city.dirty && city.hasError('required')">City is required</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group has-feedback" [class.has-success]="telephone.dirty && telephone.valid" [class.has-error]="telephone.dirty && !telephone.valid">-->
<!--        <label for="telephone" class="col-sm-2 control-label">Telephone</label>-->
<!--        <div class="col-sm-10">-->
<!--          <input type="text" class="form-control" id="telephone" [(ngModel)]="client.telephone" name="telephone" required maxlength="10" pattern="^[0-9]{0,10}$" #telephone="ngModel"/>-->
<!--          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="telephone.valid" [class.glyphicon-remove]="!telephone.valid" aria-hidden="true"></span>-->
<!--          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('required')">Phone number is required</span>-->
<!--          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('maxlength')">Phone number cannot be more than 10 digits long</span>-->
<!--          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('pattern')" >Phone number only accept digits</span>-->
<!--        </div>-->
<!--      </div>-->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="button" (click)="goToClientList()">Back</button>
          <button class="btn btn-default" type="submit" [disabled]="!clientForm.valid">Add Client</button>
        </div>
      </div>
    </form>
  </div>
</div>
