<div class="container-fluid">

  <nav class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
<!--      <div class="navbar-header">-->
<!--        <a class="navbar-brand" href="#"><span></span></a>-->
<!--      </div>-->

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="welcome" title="home page">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <span> Home</span>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Achats/Ventes<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/clients"><span class="" aria-hidden="true"></span> <span>Clients</span></a></li>
            <li><a routerLink="/owners"><span class="" aria-hidden="true"></span> <span>Commandes</span></a></li>
            <li><a routerLink="/owners"><span class="" aria-hidden="true"></span> <span>Articles</span></a></li>
            <li><a routerLink="/owners"><span class="" aria-hidden="true"></span> <span>Stocks</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ressources humaines<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/owners"><span class="" aria-hidden="true"></span><span> All</span></a></li>
            <li><a routerLink="/owners/add"><span class="" aria-hidden="true"></span><span> Add New</span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Gestion des projets<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/vets"><span class="" aria-hidden="true"></span><span> All</span></a>
            </li>
            <li><a routerLink="/vets/add"><span class="" aria-hidden="true"></span><span> Add New</span></a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/pettypes" routerLinkActive="active" title="pettypes">
            <span class="" aria-hidden="true"></span>
            <span>Comptabilités</span>
          </a>
        </li>
<!--        <li>-->
<!--          <a routerLink="/specialties" routerLinkActive="active" title="specialties">-->
<!--            <span class="" aria-hidden="true"></span>-->
<!--            <span>Specialties</span>-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </div>
  </nav>

</div>


<router-outlet></router-outlet>

<br/>
<br/>
<div class="container">
  <div class="row">
<!--    <div class="col-12 text-center"><img src="./assets/images/angular.png" alt="Angular" height="80" width="80"/>-->
<!--      <img src="./assets/images/spring-pivotal-logo.png" alt="Sponsored by Pivotal"/></div>-->
  </div>
</div>
